<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/fragment :: header"></div>
<div th:insert="fragments/footer :: footer"></div>
<div th:replace="navbar :: navbar"></div>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" th:href="@{/products/list}">Show product list</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
<!--            aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</nav>-->

<!--<div th:insert="navbar :: navbar">  </div>-->

<h1>Admin panel</h1>

Logged as <p sec:authentication="name"/>

<a th:href="@{/logout}">Logout</a>

<a th:href="@{/admin/product/create}">Add new product</a>

<a th:href="@{/products/list}">Show product list</a>

<a th:href="@{/admin/users/list}">Show users list</a>

<a th:href="@{/admin/users/create}">Add new user</a>

<a th:href="@{/users/password/change}">Change password</a>

</body>
</html>