<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!--  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->

</head>


<body>
<h1>Login page</h1>

<form method="post" th:action="@{/login}">

  Login:
  <input type="text" name="username">

  Password:
  <input type="password" name="password">

  <button type="submit" class="btn btn-success">Log in</button>
</form>

</body>
</html>