<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>

<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/products/list}">Show product list</a>
        </div>

    </div>
</nav>

</body>
</html>