<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>

<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>

Logged as <p th:text="${currentUser}"/>

Logged as (thymeleaf) <p sec:authentication="name"/>

<a th:href="@{/logout}">Logout</a>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/product/create}">Add new product</a>
</div>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}"/>
        <td th:text="${product.description}"/>
        <td><img th:src="${product.miniature}" alt="Opis obrazka"/></td>
        <td><a th:href="@{/product/{title}/(title=${product.title})}">details</a></td>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td><a th:href="@{/admin/product/edit/{title}/(title=${product.title})}">edit</a></td>
            <td><a th:href="@{/admin/product/delete/{title}/(title=${product.title})}">delete</a></td>
        </div>
    </tr>
    </tbody>
</table>

</body>
</html>