<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product edit</title>
</head>

<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>

<form method="post" th:action="@{/admin/product/update}" th:object="${product}">

    <input type="hidden" th:field="*{id}">
    <label>
        Tytuł:
        <input type="text" th:field="*{title}"/>
    </label>
    <label>
        Opis:
        <input type="text" th:field="*{description}"/>
    </label>
    <label>
        Miniaturka:
        <input type="text" th:field="*{miniature}"/>
    </label>
    <label>
        Kategoria:
        <input type="text" th:field="*{category}"/>
    </label>
    <label>
        Cena:
        <input type="text" th:field="*{price}"/>
    </label>
    <label>
        Typ:
        <input type="text" th:field="*{type}"/>
    </label>
    <label>
        Autor:
        <input type="text" th:field="*{author}"/>
    </label>

    <button type="submit" class="btn btn-primary">Update book</button>

</form>

</body>
</html>