<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{css/style.css}">

</head>


<body>

<section class="vh-100 bg-image"
         style="background-image: url('https://previews.dropbox.com/p/thumb/ABldu5MiihACLu4D434ohOJYiH3vLu6MtQrnUYtp66X2BySY4FTB7k2gku1vyNFGRroTCamh-48teJR53Fc8dsnDp-FuRzTaWKPyb3kxVJJfdnOP5JbUI3F2KfpmjvVCvLMz5TYuwOl6Q4fQcrY1X_D50skpckXFJkajCOzpnfbSToqp-umrBauut1lagqdVNGy5VsHnHIkv4HsBld70XzamnXnPgoQTH7cULvVTHaKEgED8wJhRH_cDq99aPj_8QQ0U5ZGvL76SLVwRyk3uwj4TpEB5fHZcWVyzOSEvgAwJRJnenemly3wb2PHXxHJuKqC6Hes-NKVHjFN7D5IQJHLgU9GWY7i1XYl9UQWqxI1IjfIWwEbiSwuJjiegpl7rV-Q/p.jpeg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Registration form</h2>

                            <p th:text="${exceptionMessage}" style="color: red"/>

                            <form method="post" th:action="@{/register}" th:object="${emptyUser}">

                                Username:
                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{username}" id="username"
                                           class="form-control form-control-lg"/>
                                    <label class="form-label" for="username"></label>
                                </div>

                                Password:
                                <div class="form-outline mb-4">
                                    <input type="password" th:field="*{password}" id="password"
                                           class="form-control form-control-lg"/>
                                    <label class="form-label" for="password"></label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block
    btn-lg gradient-custom-4 text-body">Register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account?
                                    <a th:href="@{/login}" class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>