<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>

<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>

<h1 Change password for user sec:authentication="name"/>

<p th:text="${exceptionMessage}"/>

<form method="post" th:action="@{/users/password/save}" th:object="${passwordDto}">

    <label>
        Actual password:
        <input type="text" th:field="*{actualPassword}"/>
    </label>

    <label>
        New password:
        <input type="text" th:field="*{newPassword}"/>
    </label>

    <label>
        Repeat new password:
        <input type="text" th:field="*{newRepeatedPassword}"/>
    </label>

    <button type="submit" class="btn btn-outline-primary">Change password</button>

</form>

</body>
</html>